PORT=3000
MONGO_URI=mongodb+srv://rbewnwbfw w:rnnfqnjfnewjk@cluster0.y4z2hbo.mongodb.net/JudgeX
JWT_SECRET=bdhB
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USERNAME=NMABSDAH
MAIL_PASSWORD=fjwejf
APP_NAME=joijoiq
ADMIN_EMAIL=tete
ADMIN_PASSWORD=dsnsf
BASE_URI=http://localhost:3000
NODE_ENV=development