# Dependencies
node_modules/

# Environment Variables
.env

# Logs
*.log
logs/

# Build folders
dist/
build/

# Coverage
coverage/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Uploads
uploads/

# Temporary files
tmp/
temp/